<div>
    <h4>Click on the movie to check the showtimnes!</h4>
    <ul>
        {{#each this.allMovies}}
        <li>
            <a href="/seeds/movies.seed.js"></a>
        </li>
    </ul>
    
</div>